<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd">

<module configVersion="1.0">
	
	<!-- Jsp Example Module Properties -->
	<id>jspexample</id>
	<name>Jsp Example Module</name>
	<version>0.1</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>ben</author>
	<description>
			
	</description>
	<activator>@MODULE_PACKAGE@.JspExampleModuleActivator</activator>
	<!-- /Jsp Example Module Properties -->
	
	<requireVersion>1.5.0</requireVersion>
	
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.jspexample.AdminList</class>
	</extension>
	<extension>
		<point>org.openmrs.module.jspexample.example</point>
		<class>@MODULE_PACKAGE@.ExampleExtension</class>
	</extension>
	
	<dwr>
		<allow>
			<create creator="new" javascript="DWRRoomTemperatureService">
				<param name="class" value="@MODULE_PACKAGE@.web.DWRRoomTemperatureService"/>
				<include method="getAllRoomTemperatures"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
			import @MODULE_PACKAGE@.web.DWRRoomTemperatureService;
			DWRRoomTemperatureService.getAllTemperatures();
			]]>
		</signatures>	
	</dwr>
	
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	
	<mappingFiles>
		RoomTemperature.hbm.xml
	</mappingFiles>
	
</module>
